# Mapping progress report
## Statistics
{{ stats_markdown_table }}

## Mapping status for all terms
{# todo: combine to one big table? #}
{% for ontology_name, markdown_table in ontologies.items() %}
### {{ ontology_name }}
{{ markdown_table }}

{% endfor %}
