.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/mondo-ingest.owl
src/ontology/mondo-ingest.obo
src/ontology/mondo-ingest.json
src/ontology/mondo-ingest-base.*
src/ontology/mondo-ingest-basic.*
src/ontology/mondo-ingest-full.*
src/ontology/mondo-ingest-simple.*
src/ontology/mondo-ingest-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-mondo-ingest-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
imports/doid_import.owl
imports/icd10cm_import.owl
imports/icd10who_import.owl
imports/ncit_import.owl
imports/omim_import.owl
imports/omo_import.owl
imports/ordo_import.owl
imports/ro_import.owl
mondo-ingest.owl
mondo-ingest.obo
mondo-ingest.json
mondo-ingest-full.owl
mondo-ingest-full.obo
mondo-ingest-full.json
mondo-ingest-base.owl
mondo-ingest-base.obo
mondo-ingest-base.json
src/ontology/imports/doid_import.owl
src/ontology/imports/icd10cm_import.owl
src/ontology/imports/icd10who_import.owl
src/ontology/imports/ncit_import.owl
src/ontology/imports/omim_import.owl
src/ontology/imports/omo_import.owl
src/ontology/imports/ordo_import.owl
.github/workflows/diff.yml
.github/workflows/qc.yml
src/ontology/imports/ro_import.owl
src/ontology/components/merged.owl
