alabaster==0.7.12
attrs==21.4.0
Babel==2.10.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
commonmark==0.9.1
decorator==5.1.1
Deprecated==1.2.13
distlib==0.3.4
docutils==0.17.1
filelock==3.6.0
greenlet==1.1.2
hbreader==0.9.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
isodate==0.6.1
Jinja2==3.1.1
joblib==1.1.0
json-flattener==0.1.9
jsonasobj2==1.0.4
jsonschema==4.4.0
linkml-runtime==1.2.7
MarkupSafe==2.1.1
networkx==2.8
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pandasql==0.7.3
pbr==5.8.1
platformdirs==2.5.2
prefixcommons==0.1.9
Pygments==2.12.0
pyparsing==2.4.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
rdflib==6.1.1
recommonmark==0.7.1
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
snowballstemmer==2.2.0
SPARQLWrapper==2.0.0
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.36
sssom==0.3.8
stevedore==3.5.0
threadpoolctl==3.1.0
urllib3==1.26.9
validators==0.18.2
virtualenv==20.14.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wrapt==1.14.0
zipp==3.8.0
