{% for sparql_prefix_line in prefixes %}
{{ sparql_prefix_line }}
{% endfor %}
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>

select ?term_id ?parent_id where {
  VALUES ?term_id { {{values}} }
  ?term_id rdfs:subClassOf ?parent_id .
}
