{% for sparql_prefix_line in prefixes %}
{{ sparql_prefix_line }}
{% endfor %}
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>

select ?term_id ?child_id where {
  VALUES ?term_id { {{values}} }
  ?child_id rdfs:subClassOf* ?term_id .
}
