prefix owl:  <http://www.w3.org/2002/07/owl#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>

select ?term_id where {
  ?term_id a owl:Class;
    rdfs:label ?term_label .
  FILTER (REGEX(?term_label, "{{ regexp }}"))
  # FILTER(isIRI(?term_id) && (STRSTARTS(str(?term_id), "{{ iri }}")))  # Would be good to filter out xrefs from other ontologies. This could be done here or in Python.
}
