prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix ECO: <http://purl.obolibrary.org/obo/ECO_>
prefix owl: <http://www.w3.org/2002/07/owl#>
prefix oboInOwl: <http://www.geneontology.org/formats/oboInOwl#>
prefix sssom: <https://w3id.org/sssom/>

{% for mapping_precision_string, relationship_curie in mapping_str__curie__map.items() %}
DELETE {
  ?xref_anno a owl:Axiom ;
    ECO:0000218 ?mapping_precision_string .
} INSERT {
  ?cls a owl:Class;
      {{ relationship_curie }} ?value .
} WHERE {
  VALUES ?mapping { oboInOwl:hasDbXref }

  ?cls a owl:Class;
    ?mapping ?value .

  ?xref_anno a owl:Axiom ;
    owl:annotatedSource ?cls ;
    owl:annotatedProperty ?mapping ;
    owl:annotatedTarget ?value ;
    ECO:0000218 ?mapping_precision_string .

  FILTER(STRSTARTS(STR(?mapping_precision_string), "{{ mapping_precision_string }}"))
};
{% endfor %}